$color-persian-blue: #0934E0;
$color-persian-blue-darker: #0726A3;
$color-persian-blue-darkest: #001466;
$color-persian-blue-lighter: #99ADFF;
$color-persian-blue-lightest: #D6DEFF;
$color-blue-dark: #031352;
$color-cool-gray: #272F3D;
$color-ghost-white: #FAFBFF;
$color-red-base: #F53131;
$color-red-darker: #CC1818;
$color-red-darkest: #A30707;
$color-red-lighter: #FF8585;
$color-red-lightest: #FFD6D6;
$color-yellow-base: #FFD52F;
$color-yellow-darker: #EBC017;
$color-yellow-darkest: #BD9804;
$color-yellow-lighter: #FFE682;
$color-yellow-lightest: #FFFBEB;
$color-green-base: #29E08B;
$color-green-darker: #1B945C;
$color-green-darkest: #105736;
$color-green-lighter: #7AF0B9;
$color-green-lightest: #D6FFEC;
$color-purple-base: #5D1BE0;
$color-purple-darker: #410AAD;
$color-purple-darkest: #260070;
$color-purple-lighter: #9D73F0;
$color-purple-lightest: #E4D6FF;
$color-gray-base: #F5F5F5;
$color-gray-darker: #E0E0E0;
$color-gray-darkest: #CCCCCC;
$color-primary: $color-persian-blue;
$color-white: #fff;
$color-black: #000;
$color-text: $color-blue-dark;
$color-error: $color-red-base;
$color-warning: $color-yellow-base;
$color-sub: $color-cool-gray;
$color-disabled: $color-gray-darker;
$color-invert: $color-ghost-white;
$color-link: $color-primary;
$color-title-sub: $color-cool-gray;
$color-secondary: $color-gray-base;
$color-transparent: transparent;
$color-border: $color-persian-blue-lightest;

