.custom-fit-content {
  width: 100%;
  max-width: 32rem;
  // min-width: -webkit-max-content;
  // min-width: -moz-max-content;
  // min-width: max-content;
}

.custom-item {
  width: auto;
}

.custom-search {
  min-width: 12rem;
}