$font-size-head1: 32px;
$font-size-head2: 24px;
$font-size-head3: 20px;
$font-size-head4: 16px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-caption: 12px;
$font-size-button1: 16px;
$font-size-button2: 14px;

$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 500;
$font-weight-bold: 600;

$font-family-head: 'Kanit';
$font-family-body: 'Inter';
