$box-shadow-lv-8-down: 0px 8px 16px rgba(3, 19, 82, 0.16);
$box-shadow-lv-8-left: -8px 0px 16px rgba(3, 19, 82, 0.16);
$box-shadow-lv-8-up: 0px -8px 16px rgba(3, 19, 82, 0.16);
$box-shadow-lv-8-right: 8px 0px 16px rgba(3, 19, 82, 0.16);

$box-shadow-lv-16-down: 0px 16px 32px rgba(3, 19, 82, 0.16);
$box-shadow-lv-16-left: -16px 0px 32px rgba(3, 19, 82, 0.16);
$box-shadow-lv-16-up: 0px -16px 32px rgba(3, 19, 82, 0.16);
$box-shadow-lv-16-right: 16px 0px 32px rgba(3, 19, 82, 0.16);
