@ilt-core:registry=https://gitlab.com/api/v4/projects/26900400/packages/npm/
//gitlab.com/api/v4/projects/26900400/packages/npm/:_authToken=rQm8S9ekyT7fnfjw5yqz

@alopay:registry=https://gitlab.com/api/v4/projects/27548775/packages/npm/
//gitlab.com/api/v4/projects/27548775/packages/npm/:_authToken=XtA9ALdonXQtJ3PCRopf

@mcuc:registry=https://gitlab.com/api/v4/projects/27548775/packages/npm/
//gitlab.com/api/v4/projects/27548775/packages/npm/:_authToken=XtA9ALdonXQtJ3PCRopf

@crypto-game-portal:registry=https://gitlab.com/api/v4/projects/25981532/packages/npm/
//gitlab.com/api/v4/projects/25981532/packages/npm/:_authToken=Zvq4cov5fesJy9NDUfz2

@greyhole:registry=https://gitlab.com/api/v4/projects/28501162/packages/npm/
//gitlab.com/api/v4/projects/28501162/packages/npm/:_authToken=RAJNyPDGz5FzLRL4NNiT
