@import 'styles/variables.scss';

.stack {
  display: flex;
}

/*
    Spacing list
    Order values: name, spacing
*/
$spacing: (('1', 1), ('2', 2), ('3', 3));

@each $name, $spacing in $spacing {
  .spacing-#{$name} {
    & > *:not(:first-child) {
      margin: 0;
      margin-left: 8px * $spacing;
    }
  }
}
