@import 'styles/variables.scss';

.root {
  .pointer {
    cursor: pointer;
  }
  svg {
    &.search-icon {
      color: $color-cool-gray !important;
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
